body {
  font-size: 16px;
  color: grey;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

h1{
  font-size: 16px;
  color: grey;
  background-color: #f6b319;
  font-family: 'Oxygen', sans-serif;

}

div {
  font-size: 16px;
  color: grey;
  background-color: #f6b319;
  font-family: 'Oxygen', sans-serif;
  
}